{{ define "main" }}

<div class="container my-3">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-lg-8 mb-3">
							<h1 class="card-title">{{ .Title }}</h1>
							<p class="card-subtitle fs-5 text-body-secondary">
								{{ .Summary }}
							</p>
						</div>
						<div class="col-lg-4">
							<div class="mb-1">
								<a
									class="icon-link"
									href="https://calendly.com/marcoferra/discovery-call-15min"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-calendar-date"
										viewBox="0 0 16 16"
									>
										<path
											d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"
										/>
										<path
											d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
										/>
									</svg>

									Book a 15-min video call
								</a>
							</div>

							<div>
								<a
									class="icon-link"
									href="https://www.koalacoaching.com/"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="16"
										height="16"
										fill="currentColor"
										class="bi bi-journals"
										viewBox="0 0 16 16"
									>
										<path
											d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2"
										/>
										<path
											d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0"
										/>
									</svg>

									Koala Coaching
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4">
							{{ with .Params.coreimage }}
							<img
								src="{{ . }}"
								class="img-fluid rounded-1 shadow-sm mb-3"
								alt="{{ . }}"
							/>
							{{ end }}
						</div>
						<div class="col-lg-4">
							{{ with .Resources.GetMatch "column-left.md" }} {{
							.Content }} {{ end }}
						</div>
						<div class="col-lg-4">
							{{ with .Resources.GetMatch "column-right.md" }} {{
							.Content }} {{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}
