{{ define "main" }}

<div class="container my-3">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="card">
				<div class="card-header">
					<h1 class="card-title">{{ .Title }}</h1>
					<p class="card-subtitle fs-5 mb-2 text-body-secondary">
						{{ .Summary }}
					</p>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							{{ with .Param "images" }} {{ range . }}
							<img
								src="{{ . }}"
								class="img-fluid shadow-sm rounded-1"
								alt="marcoferra.com"
							/>
							{{ end }} {{ end }}
						</div>
						<div class="col-md-4">
							{{ with .GetPage "column-left" }} {{ .Content }} {{
							end }}
						</div>
						<div class="col-md-4">
							{{ with .GetPage "column-right" }} {{ .Content }} {{
							end }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{ end }}
