<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>
    {{- if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
    site.Title }}{{ end -}}
</title>

<meta name="description" content="{{ with .Description }}
{{ . }}
{{ else with .Site.Params.description }}{{ . }}
{{ else -}}
Learn more.
{{- end -}}
" />

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="marcoferra.com" />
<link rel="manifest" href="/site.webmanifest" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Figtree:wght@350&display=swap" rel="stylesheet" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />

<style>
h1,
p {
    font-family:
        "Figtree",
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        sans-serif;
    font-weight: 350;
    font-style: normal;
    line-height: 1.65em;
}

a {
    text-decoration: none;
    background-image: linear-gradient(#0d6efd, #0d6efd);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
    background-size: 100% 0.1em;
}

</style>
